@use '@angular/material' as mat;

:host {
  display: contents;
}

td.flex {
  display: flex;
  align-items: center;
  width: 100%;
}

td.flex span.grow {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  display: inline-block;
}

td.flex mat-form-field.grow {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 50px;
  width: 100%;
}

td span {
    vertical-align: top;
}

th {
    vertical-align: top;
    width: 140px;
}

td.flex mat-chip {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 8px;
}

a mat-icon {
  scale: 0.6;
  margin: 0 -5px 0 -3px;
  transform: translateY(3px);
  height: 16px;
  font-size: 18px;
}

mat-chip {
  @include mat.chips-overrides(
    (
      label-text-size: var(--mat-sys-label-small-size),
      label-text-line-height: 0px,
      container-height: 50%,
    )
  );
}

.edit-button mat-icon {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-primary),
    )
  );
}
.cancel-edit-button mat-icon {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-danger),
    )
  );
}
.save-edit-button mat-icon {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-success),
    )
  );
}

div.mdc-text-mat-mdc-form-field-infix {
    padding: 0 !important;
}

mat-form-field {
  width: 80%;
  min-width: 50px;
}
