@if (!locked() || field()) {
  <tr>
    <th class="pe-1 text-start">{{ label() }}:</th>
    <td class="flex items-center">
      <span [hidden]="isOpen()" class="grow">{{ field() }} </span
      ><mat-chip
        (click)="edit()"
        [hidden]="isOpen() || locked()"
        class="smaller-chip interactive-chip edit-button ms-2"
        ><mat-icon class="scale-[0.75]">edit</mat-icon>
      </mat-chip>
      <mat-form-field [hidden]="!isOpen()" class="grow">
        <mat-label>{{ label() }}</mat-label>
        @if (rows() > 1) {
          <textarea
            matInput
            [(ngModel)]="field"
            (ngModelChange)="changed()"
            class="min-h-20"
            [rows]="rows()"
          ></textarea>
        } @else {
          <input matInput [(ngModel)]="field" (ngModelChange)="changed()" />
        }
      </mat-form-field>
      <mat-chip
        class="smaller-chip interactive-chip cancel-edit-button mx-2"
        [hidden]="!isOpen()"
        (click)="cancel()"
      >
        <mat-icon>close</mat-icon>
      </mat-chip>
      <mat-chip
        class="smaller-chip interactive-chip save-edit-button"
        [hidden]="!isOpen()"
        (click)="save()"
      >
        <mat-icon>check</mat-icon>
      </mat-chip>
    </td>
  </tr>
}
