{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 88,
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "insert_final_newline": true
}
