@use '@angular/material' as mat;

mat-chip {
  @include mat.chips-overrides(
    (
      label-text-size: var(--mat-sys-label-medium-size),
      container-height: 75%,
    )
  );
}

ul li mat-chip {
  @include mat.chips-overrides(
    (
      label-text-size: var(--mat-sys-label-small-size),
    )
  );
}

.see_more ~ li,
.see_more:checked + label {
  display: none;
}

.see_more:checked ~ li {
  display: list-item;
}
