@if (ivasAreLoading()) {
  <p class="text-base">Loading your contact addresses..</p>
} @else if (ivasError()) {
  <p class="font-bold text-red-600">
    Contact addresses could not be loaded. Please try again later.
  </p>
} @else if (ivas().length) {
  @let columns = ['user', 'type', 'value', 'state', 'actions'];
  <table mat-table [dataSource]="ivaSource" class="mat-elevation-z8">
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef class="w-64">User</th>
      <td mat-cell class="text-base" *matCellDef="let iva">
        {{ iva.user_name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef class="w-15">Type</th>
      <td mat-cell class="text-base" *matCellDef="let iva">
        <mat-icon>{{ typeIconName(iva) }}</mat-icon
        ><span class="ml-4">{{ typeName(iva) }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="value" class="w-64">
      <th mat-header-cell *matHeaderCellDef>Value</th>
      <td mat-cell class="text-base" *matCellDef="let iva">
        {{ iva.value }}
      </td>
    </ng-container>
    <ng-container matColumnDef="state" class="w-12">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell class="text-base state{{ iva.state }}" *matCellDef="let iva">
        {{ statusName(iva) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell class="text-base" *matCellDef="let iva"></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
} @else {
  <p class="text-base">
    No contact addresses found. Try removing some filter conditions.
  </p>
}
