@use '@angular/material' as mat;

mat-expansion-panel {
  margin-bottom: 1em;
  animation: backgroundColorAnimation 2s infinite;

  @include mat.expansion-overrides(
    (
      header-collapsed-state-height: 72px,
      header-hover-state-layer-color: var(--mat-sys-surface-variant),
    )
  );
}

@keyframes backgroundColorAnimation {
  0% {
    background-color: var(--mat-sys-surface-dim);
  }
  50% {
    background-color: var(--mat-sys-surface-variant);
  }
  100% {
    background-color: var(--mat-sys-surface-dim);
  }
}
