@use '@angular/material' as mat;

table.detail {
  th {
    min-width: 9em;
    text-align: left;
    vertical-align: top;
    padding: 3px;
  }
  td: {
    padding: 3px;
  }
}

.ivaUnverified {
  color: #dc2626;
}
.ivaCodeRequested {
  color: #ea580c;
}
.ivaCodeCreated {
  color: #d97706;
}
.ivaCodeTransmitted {
  color: #0d9488;
}
.ivaVerified {
  color: #16a34a;
}

table.ivas {
  td {
    padding: 0;
    padding-right: 1em;
  }
}

button.allow {
  @include mat.button-overrides(
    (
      filled-container-color: green,
      filled-label-text-color: var(--mat-sys-on-secondary),
    )
  );
}

button.deny {
  @include mat.button-overrides(
    (
      filled-container-color: red,
      filled-label-text-color: var(--mat-sys-on-secondary),
    )
  );
}
