@use '@angular/material' as mat;

mat-card {
  width: 100%;

  mat-card-header {
    padding-bottom: 8px;
  }
  mat-card-title {
    font-size: 1.1em;
  }
  mat-card-content {
    padding-top: 8px;
  }
}

th,  
mat-radio-group:not(#iva-selection-group) td {  
  text-align: left;  
  vertical-align: top; 
  width: 150px;
}  

mat-dialog-actions {
  padding-top: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

a mat-icon {
  scale: 0.6;
  margin: 0 -5px 0 -3px;
  transform: translateY(3px);
  height: 16px;
  font-size: 18px;
}
