@use '@angular/material' as mat;

a mat-icon {
  scale: 0.6;
  margin: 0 -5px 0 -3px;
  transform: translateY(3px);
  height: 16px;
  font-size: 18px;
}

table {
  @include mat.table-overrides(
    (
      header-headline-size: var(--mat-sys-title-medium-size),
      row-item-label-text-size: var(--mat-sys-body-large-size),
    )
  );
}
