@use '@angular/material' as mat;

mat-toolbar {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    )
  );
}

mat-toolbar-row div div {
  color: var(--mat-sys-quinary);
  border-color: var(--mat-sys-quinary);
}

a#activePage {
  background-color: var(--mat-sys-tertiary);
}

button {
  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-on-primary),
      state-layer-color: var(--mat-sys-on-primary),
    )
  );
}

mat-toolbar-row div a:hover,
mat-toolbar-row div a:active {
  background-color: color-mix(in srgb, var(--mat-sys-primary) 100%, #fff 8%);
}

mat-toolbar-row div a:focus {
  background-color: color-mix(in srgb, var(--mat-sys-primary) 100%, #fff 12%);
}

mat-nav-list a {
  font-size: medium;
}

mat-nav-list a mat-icon {
  scale: 0.8;
  margin: 0 -5px 0 0;
}
