<nav class="mt-2 w-full" color="primary">
  <div class="pt-px-5 flex flex-wrap justify-around pb-5 no-underline">
    <a routerLink="/" class="mx-12 content-center text-center"
      ><img src="assets/images/GHGA_logo.png" alt="GHGA Logo" class="max-h-24" /></a
    ><a href="https://ghga.de" class="mx-12 mt-4 grow content-start text-center"
      ><span><mat-icon inline="true">globe</mat-icon></span
      >GHGA Website</a
    ><a routerLink="/browse" class="mx-12 mt-4 grow content-start text-center"
      ><span><mat-icon inline="true">database</mat-icon></span
      >Browse Data</a
    ><a
      href="https://docs.ghga.de/faq/"
      class="mx-12 mt-4 grow content-start text-center"
      ><span><mat-icon inline="true">help</mat-icon></span
      >FAQ</a
    ><a href="https://docs.ghga.de/" class="mx-12 mt-4 grow content-start text-center"
      ><span><mat-icon inline="true">docs</mat-icon></span
      >GHGA User<br />Documentaton</a
    >
  </div>
  <div class="swirl"></div>
</nav>
<div
  class="icons-div mb-2 flex w-full flex-wrap justify-center text-center text-4xl no-underline"
>
  <a href="https://genomic.social/@ghga"
    ><mat-icon inline="true" fontSet="fab" fontIcon="fa-mastodon"></mat-icon
  ></a>
  <a href="https://www.linkedin.com/company/the-german-human-genome-phenome-archive/"
    ><mat-icon inline="true" fontSet="fab" fontIcon="fa-linkedin"></mat-icon
  ></a>
  <a href="https://bsky.app/profile/ghga.bsky.social">
    <mat-icon inline="true" fontSet="fab" fontIcon="fa-bluesky"></mat-icon
  ></a>
  <a href="https://github.com/ghga-de"
    ><mat-icon inline="true" fontSet="fab" fontIcon="fa-github"></mat-icon
  ></a>
  <a href="https://www.youtube.com/channel/UC7Yqi4gBl86drcUxwwEe6EA"
    ><mat-icon inline="true" fontSet="fab" fontIcon="fa-youtube"></mat-icon
  ></a>
  <a href="https://www.ghga.de/about-us/contact"
    ><mat-icon inline="true">email</mat-icon></a
  >
</div>
<div class="w-full pb-4 text-sm">
  <p class="text-center">©{{ year }} GHGA. All Rights Reserved.</p>
  <p class="text-center">
    <a href="https://www.ghga.de/imprint" class="underline">Imprint</a> |
    <a href="https://www.ghga.de/data-protection" class="underline">Data Protection</a>
    |
    <a href="https://zenodo.org/records/11146387" class="underline">Terms of Use</a>
  </p>
</div>
