nav {
  background: var(--mat-sys-on-primary);
  color: var(--mat-sys-on-primary-container);
}

div.icons-div a {
  margin: 0 7px;
  color: var(--mat-sys-outline-variant);
}

nav div a span {
  font-size: 95px;
  line-height: 95px;
  display: block;
}

nav div.swirl {
  height: 70px;
  background: var(--svg-encoded);
  background-size: 100% 100%;
  background-repeat: no-repeat no-repeat;
  background-position: center bottom;
}
